<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongodb CRUD Operations</title>
</head>
<body>

    <h1>Mongodb crud operations</h1>
    {{!-- Syntax of {{}} --}}
    {{msg}}
    
    <ul>
        {{!-- Syntax of grouping --}}
        {{#each employess}}   
            <li> {{this.title}} - {{this.author}} </li>
        {{/each}}
    </ul>
</body>
</html>